.testimonials-section__headline {
	padding-top: 5rem;
	font-size: 1.6rem;
	font-family: var(--frauncesFont);
	color: var(--grayish-blue);
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	text-align: center;
}

.testimonials-section__wrapper {
	display: flex;
	padding: 4rem;
	justify-content: space-around;
}
