.footer-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: hsl(168deg 47% 57% / 69%);
	color: var(--dark-desaturated-cyan);
	padding: 4rem;
	font-family: var(--barlowFont);
	& .logo {
		filter: invert(70%) sepia(4%) saturate(5244%) hue-rotate(116deg)
			brightness(91%) contrast(87%);
		padding-top: 3rem;
	}

	& .footer-links {
		width: 300px;
		padding: 2rem 0rem 4rem;
		display: flex;
		justify-content: space-around;

		& a {
			transition: all 1s ease;
			&:hover {
				color: white;
				transform: scale(1.1);
			}
		}
	}

	& .footer-social_links {
		display: flex;
		width: 140px;
		justify-content: space-between;
		& .social-icon {
			filter: brightness(0.6);
			transition: all 1s ease;
			&:hover {
				filter: brightness(0) invert(1);
				transform: scale(1.1);
			}
		}
	}
}
