.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1rem;
}

.teaser {
	background-image: url("../../images/desktop/image-header.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: top;
	min-height: 80vh;
	width: 100vw;
	color: var(--white);
}

.logo {
	padding: 0rem 2rem;
}

.creative-text {
	display: flex;
	justify-content: center;
	padding-top: 6rem;
	padding-bottom: 10rem;
	background-image: url("../../images/icon-arrow-down.svg");
	background-repeat: no-repeat;
	background-position: bottom;

	& h1 {
		font-size: 4rem;
		text-transform: uppercase;
		font-family: var(--frauncesFont);
	}
}
