.teaser {
	padding: 12rem 4rem;
	font-family: var(--frauncesFont);
	height: 100%;
}

.graphicDesign {
	background: url("../../images/desktop/image-graphic-design.jpg");
	background-size: 100% 100%;
}

.photographyService {
	background: url("../../images/desktop/image-photography.jpg");
	background-size: 100% 100%;
}
